@inherits LayoutComponentBase

<MudThemeProvider @ref="@MudThemeProvider" Theme="MudTheme" @bind-IsDarkMode="_isDarkMode"/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
