<MudPaper Elevation="0" Height="7vh" Width="100vw">
    <MudStack Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
        <div>
            <MudIcon Icon="@Icons.Material.Filled.Bookmark" Color="Color.Primary" />
            <MudText>Bookmark Manager</MudText>
        </div>
        <div>
            <MudButton OnClick="LogOut" Variant="Variant.Filled" Color="Color.Warning">Log out</MudButton>
            <MudButton OnClick="ChangeTheme" Variant="Variant.Filled" Color="Color.Primary">Change Theme</MudButton>
        </div>
    </MudStack>
</MudPaper>